# from https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.DS_Store
.replit
replit.nix
poetry.lock
pyproject.toml
.upm
venv/*
__pycache__/

*.txt
*.html
*.pyc
.breakpoints

test.py

build/
dist/
*.spec

.env
